h1 {
  text-align: center;
}

.show-result {
  max-width: 600px;
  white-space: nowrap;
  margin: 1rem 0;
}

.info {
  text-align: center;
  margin: 1rem 0;
}

label {
  display: inline-block;
  width: 200px;
}

section {
  width: 700px;
  margin: 0 auto;
}

input,
select,
textarea {
  width: 400px;
}

fieldset > div {
  margin: 1rem 0;
}
