<h1>Working Example</h1>
<span>
  This page generated a cipher params encoded into a <a href="https://www.openssl.org/docs/man1.0.2/man1/openssl-enc.html">OpenSSL-compatible string</a>, these params include salt and the cipher itself.
</span>

<section>
  <form (submit)="onEncryptSubmit()" [formGroup]="encryptForm" novalidate autocomplete="off"> 
    <div>
      <label for="algorithm">Select an algorithm</label>
      <select id="algorithm" formControlName="algorithm" name="algorithm">
        <option value="aes/cbc">aes/cbc</option>
        <option value="aes/ecb">aes/ecb</option>
        <option value="aes/ctr">aes/ctr</option>
        <option value="aes/gcm">aes/gcm</option>
        <option value="aes/siv">aes/siv</option>
      </select>
    </div>

    <div>
      <label for="content">Content to encrypt:</label>
      <textarea name="content" formControlName="content" id="content"></textarea>
      <span *ngIf="getEncryptErrors('content', 'required')" class="error">* required</span>
    </div>

    <fieldset>
      <legend>Key config</legend>
  
      <div>
        <label for="encryptPassword">Encryptation password:</label>
        <input formControlName="password" id="encryptPassword" type="password" name="password" />
        <span *ngIf="getEncryptErrors('password', 'required')" class="error">* required</span>
      </div>

      <button type="submit">encrypt</button>
    </fieldset>  
  </form>

  <div class="show-result" *ngIf="generatedEncryptedURI">
    <strong>Generated URI:</strong>
    {{generatedEncryptedURI}}
  </div>
</section>

<section>
  <form (submit)="onDecryptSubmit()" [formGroup]="decryptForm" novalidate autocomplete="off">
    <fieldset>
      <legend>Decrypt</legend>
  
      <div>
        <label for="uri">Encrypted URI:</label>
        <input type="text" placeholder="encrypted:aes/cbc;1234..." formControlName="uri" id="uri" name="uri" />
        <span *ngIf="getEncryptErrors('uri', 'required')" class="error">* required</span>
      </div>
  
      <div>
        <label for="decryptPassword">Password:</label>
        <input formControlName="password" id="decryptPassword" type="password" name="password" />
        <span *ngIf="getEncryptErrors('password', 'required')" class="error">* required</span>
      </div>

      <button type="submit">decrypt</button>
    </fieldset>  
  </form>

  <div class="show-result" *ngIf="decryptedContent">
    <strong>Content:</strong>
    {{decryptedContent}}
  </div>
</section>