version: '3.9'

services:
  encrypted-uri-dev:
    image: encrypted-uri-dev
    container_name: encrypted-uri-dev
    build:
      context: ../.
      dockerfile: ./.devcontainer/Dockerfile
    working_dir: /encrypted-uri
    ports:
      - 4200:4200
    volumes:
      - ..:/encrypted-uri:cached
      - /var/run/docker.sock:/var/run/docker.sock
    tty: true
